* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    background: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  main {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-inline: 0.2rem;
    h1 {
      font-size: 2rem;
      width: 100%;
      text-align: center;
    }
    h3 {
      font-size: 1.4rem;
      text-align: center;
      width: 100%;
    }
    .works-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 1rem;
      margin-top: 2rem;
      padding-inline: 0.5rem;
      place-items: center;
      .video-item {
        width: 300px;
        height: 450px;
        background: #222;
        padding: 0.3rem;
        transition: 0.3s all ease;
        .video {
          position: relative;
          width: 100%;
          width: auto;
          height: 90%;
          overflow: hidden;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          .play-pause {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 2%;
            left: 2%;
            background-color: #fff;
            border-top-left-radius: 4px;
            .play,
            .pause {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: flex;
              justify-content: center;
              align-items: center;
              color: black;
            }
          }
        }
      }
      .content {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .tag {
          margin-block: 0.4rem;
          width: auto;
          background: white;
          padding: 0.2rem 0.5rem;
          p {
            color: #111;
            user-select: none;
          }
        }
      }
      .thumbnail-item {
        padding: 0.5rem 0.3rem;
        width: auto;
        height: auto;
        background: #222;
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        padding-inline: 1rem;
        .item:hover {
          transform: scale(1);
        }
      }
      .item:hover {
        transform: scale(1.02);
      }
    }
  }
  
  .work-contact-section {
    max-height: fit-content;
    width: 100vw;
    background: #111;
    padding: 1rem;
    padding-bottom: 5rem;
    .form {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 5rem;
      h2 {
        font-weight: 400;
        font-size: 2rem;
        color: white;
        margin-bottom: 1rem;
      }
      form {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        input {
          height: 50px;
        }
        input,
        textarea {
          padding: 0.2rem;
          width: 100%;
          outline: none;
          border: none;
          border-bottom: 1px solid gray;
          resize: vertical;
        }
        button {
          width: 100%;
          height: 40px;
          background: skyblue;
          border: none;
          outline: none;
          font-size: 1.3rem;
          color: white;
          cursor: pointer;
          transition: 0.2s all ease-in;
          &:hover {
            background: rgb(120, 217, 255);
          }
        }
      }
    }
  }
  
  .mobile-nav {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    z-index: 9999999;
    padding-top: 0.5rem;
    .logo {
      height: 200%;
      aspect-ratio: 1;
      z-index: 9999999999;
    }
  
    .hamburger {
      z-index: 9999999;
      width: 50px;
      height: 17px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
  
      .line {
        width: 100%;
        height: 1px;
        background: white;
      }
      position: relative;
    }
  
    .mobile-nav-items {
      width: 100%;
      min-height: 100vh;
      background: black;
      z-index: 999999;
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      opacity: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 70px;
  
      a.nav-link,
      h2.nav-link {
        font-family: "santoshi";
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: 500;
        border-bottom: 1px solid white;
        margin-block: 0.1rem;
        cursor: pointer;
        font-family: "gambarino";
        &:first-child {
          border-block: 1px solid white;
        }
      }
      .services.item {
        .item-content h2 {
          border: none;
          font-family: "gambarino";
        }
      }
  
      .graphic.item {
        .item-content h2 {
          text-align: center;
          border-block: none;
          font-family: "gambarino";
        }
      }
  
      .item {
        width: 95%;
        height: auto;
        border-bottom: 1px solid white;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        color: white;
        &:first-child {
          border-bottom: 1px solid white;
        }
  
        .item-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline: 1rem;
          width: 100%;
          height: 50px;
  
          .text {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: white;
          }
  
          .drop-down {
            width: 20px;
            height: 20px;
            background: white;
          }
  
          h2 {
            color: white;
            font-family: "santoshi";
          }
          p {
            color: white;
            font-size: 1rem;
          }
  
          .small-text {
            font-size: 1rem;
            line-height: 1.2rem;
          }
        }
  
        .item-data {
          width: 100%;
          height: auto;
          position: absolute;
          top: 50px;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          padding-block: 0.4rem;
          .item-data-child {
            height: auto;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
  
            .data-child {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding-inline: 2rem;
              padding-block: 0.4rem;
  
              a,
              p {
                font-weight: 300;
                font-size: 1.3rem;
                opacity: 1;
                color: white;
              }
            }
          }
        }
      }
    }
  }
  
  .drop-down {
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 50% 100%);
  }
  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    z-index: 100000;
    padding-top: 1rem;
    .logo {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.3rem;
      .icon {
        height: 130px;
        aspect-ratio: 1;
      }
    }
    .sub-child-opener-con {
      &:hover {
        p {
          color: salmon;
        }
        .sub-child-con {
          display: flex !important;
          opacity: 1;
        }
      }
      p {
        color: white;
        cursor: pointer;
      }
    }
    .items {
      width: fit-content;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
  
      .nav-item {
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        a {
          text-decoration: none;
          color: white;
          font-size: 1.2rem;
          transition: 0.2s all ease-in;
          &:hover {
            color: salmon !important;
          }
        }
  
        .sub-child-con {
          /* background: white; */
          width: fit-content;
          height: auto;
          position: absolute;
          top: 100%;
          left: 0;
          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 155px;
          padding-bottom: 8px;
          z-index: 99999;
  
          &.graphic-sub-con {
            width: 100%;
            left: auto;
            .sub-child-con-sub {
              left: 100%;
              /* align-items: flex-end; */
            }
          }
  
          .sub-child {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
  
          a,
          p {
            text-align: center;
            color: white;
            white-space: nowrap;
            font-size: 0.98rem;
          }
        }
  
        .sub-child {
          &:hover {
            .sub-child-con-sub {
              display: flex;
            }
          }
          position: relative;
          padding-inline: 4px;
          width: 155px;
        }
  
        .sub-child-con-sub {
          /* background: white; */
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 5px;
          padding: 10px;
          max-width: 300px;
          height: auto;
          position: absolute;
          top: 0%;
          left: 110%;
          display: none;
  
          a,
          p {
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              color: salmon;
            }
          }
        }
  
        .line-con {
          width: auto;
          position: relative;
  
          .line {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: black;
            transform-origin: left;
            transform: scaleX(0);
          }
        }
      }
    }
  }
  
  @media (max-width: 700px) {
    .mobile-nav {
      display: flex;
    }
  
    nav {
      display: none;
    }
  }
  